
<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>

  <form class="create-form">
    <mat-form-field class="field" appearance="fill">
      <mat-label>Author</mat-label>
      <input
        matInput [(ngModel)]="content.author"
        placeholder="Author"
        required
        [formControl]="AuthorRequire"

      >
      <mat-error *ngIf="AuthorRequire.invalid">Field Cannot be EMPTY</mat-error>
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="content.title" placeholder="Title" [formControl]="titleRequired" required>
      <mat-error *ngIf="titleRequired.invalid">Field Cannot be EMPTY</mat-error>
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Novel or Poem</mat-label>
      <input matInput [(ngModel)]="content.type" placeholder="Type" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Split with Space</mat-label>
      <input matInput [(ngModel)]="content.tags" placeholder="Tags" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Body</mat-label>
      <textarea matInput [(ngModel)]="content.body" [formControl]="bodyRequired" required></textarea>
      <mat-error *ngIf="bodyRequired.invalid">Field Cannot be EMPTY</mat-error>
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Image URL</mat-label>
      <input type="url" matInput [(ngModel)]="content.imgUrl" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="content"
          *ngIf="AuthorRequire.valid && titleRequired.valid && bodyRequired.valid">Save</button>
  <button mat-button [mat-dialog-close]="content"
          *ngIf="AuthorRequire.invalid || titleRequired.invalid || bodyRequired.invalid" disabled>Save</button>
</mat-dialog-actions>
