
<h2 mat-dialog-title>Create a new content</h2>

<mat-dialog-content>

  <form class="create-form">
    <mat-form-field class="field" appearance="fill">
      <mat-label>Author</mat-label>
      <input
        matInput [(ngModel)]="content.author"
        placeholder="Author"
        required
        [formControl]="required1"

      >
      <mat-error *ngIf="required.invalid">Field Cannot be EMPTY</mat-error>
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="content.title" placeholder="Title" [formControl]="required2" required>
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Novel or Poem</mat-label>
      <input matInput [(ngModel)]="content.type" placeholder="Type" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Split with Space</mat-label>
      <input matInput [(ngModel)]="content.tags" placeholder="Tags" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Body</mat-label>
      <textarea matInput [(ngModel)]="content.body" [formControl]="required3" required></textarea>
    </mat-form-field>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Image URL</mat-label>
      <input type="url" matInput [(ngModel)]="content.imgUrl" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="content"
          *ngIf="required1.valid && required2.valid && required3.valid">Save</button>
  <button mat-button [mat-dialog-close]="content"
          *ngIf="required1.invalid || required2.invalid || required3.invalid" disabled>Save</button>
</mat-dialog-actions>
