<div class="content-header">
  <button  mat-button color="primary" class="create-content" (click)="openCreateDialog()">
    Create a New Content
  </button>
  <span class="spacer"> | </span>
  <span>Search:</span>
  <mat-form-field appearance="legacy">
    <mat-label>Keywords</mat-label>
    <input matInput #title placeholder="can search by word">

  </mat-form-field>
  <button mat-icon-button (click)="searchTitle(title.value)">
    <mat-icon>search</mat-icon>
  </button>



</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="All Contents">
    <ng-template matTabContent>
      <mat-grid-list cols="{{cols}}" rowHeight="1:1.2">
        <mat-grid-tile *ngFor="let content of contents; last  as isLast; first as isFirst">
          <app-content-card
            appBorder
            [content]="content"
            [isFirst]= "isFirst"
            [isLast]= "isLast"
            [class.result-found] = "content == result"
            class="novel-list"

          >
          </app-content-card>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
  </mat-tab>
  <mat-tab label="Contents of Novel">
    <ng-template matTabContent>
      <mat-grid-list cols="{{cols}}"  rowHeight="1:1.2">
        <mat-grid-tile *ngFor="let content of (contents | contentType:'Novel'); last  as isLast; first as isFirst">
          <app-content-card
            appBorder

            [content]="content"
            [isFirst]= "isFirst"
            [isLast]= "isLast"
            [class.result-found] = "content == result"
            class="novel-list"

          >
          </app-content-card>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
  </mat-tab>


  <mat-tab label="Contents of Poem">
    <ng-template matTabContent>
      <mat-grid-list cols="{{cols}}"  rowHeight="1:1.2">
        <mat-grid-tile *ngFor="let content of (contents | contentType:'Poem'); last  as isLast; first as isFirst">
          <app-content-card
            appBorder
            [content]="content"
            [isLast] = "isLast"
            [isFirst]="isFirst"
            [class.result-found] = "content == result"
            class="poem-list"

          >
          </app-content-card>
        </mat-grid-tile>
      </mat-grid-list>

    </ng-template>
  </mat-tab>


  <mat-tab label="Other Contents">
    <ng-template matTabContent>
      <mat-grid-list cols="{{cols}}"  rowHeight="1:1.2">
        <mat-grid-tile *ngFor="let content of (contents | contentType:''); last  as isLast; first as isFirst">
          <app-content-card
            appBorder
            [content]="content"
            [isFirst]="isFirst"
            [isLast]="isLast"
            [class.result-found] = "content == result"
            class="other-list"

          >
          </app-content-card>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>

  </mat-tab>
</mat-tab-group>

<br/>
<br/>
<br/>
<br/>
<br/>
<!--<app-create-component-->
<!--  *ngIf="!selectedContent"-->
<!--  (newContentEvent)="addContent($event)" ></app-create-component>-->
<!--<app-create-component-->
<!--  *ngIf="selectedContent"-->
<!--  (newContentEvent)="addContent($event)"-->
<!--  [selectedContent]="selectedContent">-->
<!--</app-create-component>-->



