<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" >
    <button color="primary" mat-button routerLink="" (click)="drawer.toggle()"> Home </button>
    <mat-divider></mat-divider>
    <button color="primary" mat-button routerLink="contents" (click)="drawer.toggle()"> Content List </button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="spacer"></span>
      <span>Assignment #9: Routing</span>
      <!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
      <!--    <mat-icon>favorite</mat-icon>-->
      <!--  </button>-->
      <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
      <!--    <mat-icon>share</mat-icon>-->
      <!--  </button>-->
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
<!--  <app-content-list ></app-content-list>-->
<!--  <app-messages></app-messages>-->
</mat-drawer-container>

<!--<div>-->
<!--  <ul>-->
<!--    <li> <a routerLink="/contents">Content List</a> </li>-->
<!--    <li> <a routerLink = "content/100"> Content details : 100</a></li>-->
<!--    <li> Not Found </li>-->
<!--  </ul>-->

<!--</div>-->





