.message {
  position: fixed;
  top: 0;
  left: 20%;
  margin: auto;

  padding: 0 20px 10px 20px;
  background-color: #f44336;
  color: white;
  width: 60%;

  animation: fadeIn 700ms;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
