div{
  max-width: 700px;
  min-width: 300px;
  margin: auto;
}

.mat-card{
  margin: 30px;
}

img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.mat-card-actions, mat-card-footer, .mat-body-strong{
  display: flex;
}

.flex-spacer{
  width: 50%;
}

h1, h3{
  margin: auto;
  text-align: center;
}

.body{
  margin-top: 30px;
  margin-bottom: 30px;
  text-indent: 25px;
  font-size: 18px;
}
