<h2>Assignment #1</h2>
<h3>Create an angular project and generate a component</h3>
<h4>Content List:</h4>


<!--<div class="break-up-my-stuff">-->
<!--  <span [innerHTML]="contents.content(0)"></span>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="break-up-my-stuff">-->
<!--  <span [innerHTML]="contents.content(1)"></span>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="break-up-my-stuff">-->
<!--  <span [innerHTML]="contents.content(2)"></span>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="break-up-my-stuff">-->
<!--  <span [innerHTML]="contents.content(3)"></span>-->
<!--</div>-->
<hr>

