.jasmine-alert{
  color: red;
  background-color: #1976d2;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.break-up-my-stuff:last-child .tg{
  border: 3px solid;
}



tr:nth-child(even) {
  background-color: #dddddd;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top; height: 100px}

.person-image, .blank-image{
  width: 100%;
}



:host.poem-list .tg{
  border: #1976d2 solid 2px ;
}

:host.novel-list .tg{
  border: orangered solid 2px ;
}

:host.other-list .tg{
  border: yellowgreen solid 2px ;
}

:host.result-found .mat-card{
  border: solid red 2px;
}

/*:host.is-Last .tg{*/
/*  border: 3px solid;*/
/*}*/
/*-------------Material Design ---------------*/


.mat-card{
  max-width: 250px;
  min-width: 225px;
  margin-bottom: 20px;
  margin-top: 10px;
}


.mat-card-actions{
  display: flex;
}

.mat-card-actions .flex-spacer{
  width: 100%;
}

.mat-card-content{
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

.mat-card-content .mat-body{
  text-overflow: ellipsis;
}

.mat-card:hover{
  right: .3em;
  bottom: .3em;
}
